/* GLOBAL */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, span, pre, strong, a, input{
	font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #FAFAFA;
}
div, header, section, input{
    box-sizing: border-box;
}
h2{
    font-weight: 700;
    font-size: 20px;
    color: #000;
}
h3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #b9b9b9;
}
hr{
    border: none;
    margin-block-start: 1em;
}
input[type=text] {
    padding: 10px;
    padding-left: 23px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background: #FFFFFF;
    width: 100%;
    margin-top: 10px;
    font-size: 19px;
    font-weight: bold;
}
input[type=text]::placeholder {
    font-style: italic;
    font-weight: 400;
    color: #BABABA;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    cursor: pointer;
}

/* HEADER */
header{
	height: 70px;
	width: 100%;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	color: #fff;
}
header .logo{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}
/* CRIAÇÃO DE QUIZZ */
.creation{
    flex-direction: column;
}
.creation-head{
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.creation-body{
    padding: 20px;
    width: 600px;
}

.creation-footer{
    margin-top: 29px;
}
.step-1 .creation-body{
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
/* PERGUNTAS */
.perguntas-body {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.perguntas-body .inputs{
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    transition: all 600ms ease;
}
.perguntas-body.active .inputs{
    visibility: visible;
    opacity: 1;
    transition: all 600ms ease;
    max-height: none;
}

/* CRIAÇÃO DOS NÍVEIS */

.hidden-menu{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    cursor: pointer;
}

.nivel-body, .perguntas-body{
    background-color: #fff;
    margin-bottom: 27px;
    padding: 10px;
    width: 100%;
}

/* Sucesso do Quiz */

.imgFim{
    width: 500px;
    height: 266px;
    margin-left: 32px;
    border-radius: 5px;
    position: relative;
}

.step-4 img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.botoes-column{
    display: flex;
    flex-direction: column;
}

.btn-borderless{
    margin-top: 9px;
    background-color:#FAFAFA ;
    color: #818181;
}

/* Tela1: Listar Quizzes */
.tela1{
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.tela-1-step-1{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.criar-container{
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.div-criar-quizz{
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
    width: 78%;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.div-criar-quizz h3{
    margin-top: 35px;
    margin-bottom: 15px;
    max-width: 210px;
}

.div-criar-quizz button{
    margin-top: 10px;
    text-align: center;
    width: 151px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    background-color: #FAFAFA;
    cursor: pointer;
}
.padrao-quizz{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.outros-quizz h2{
    margin-left: 15px;
}
.quizzes-lista{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.quizz-card{
    width: 340px;
    height: 181px;
    margin-left: 15px;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

.quizz-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}
.degrade{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.degrade p {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-left: 12px;
    margin-bottom: 15px;
    word-break: break-all;
}

.usuario-quizz{
    margin-bottom: 50px;
}
.seus-quizzes-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}
.seus-quizzes-titulo h2 {
    margin-right: 12px;
}

.seus-quizzes-titulo ion-icon{
    width: 30px;
    height: 30px;
    color: #EC362D;
    cursor: pointer;
}

.display-none{
    display: none;
}
/* TELA DE QUIZZ */
.quizz-game .quizz-head{
    padding: 87px 33px;
    margin-top: 69px;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.quizz-game .quizz-head .mask{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
}
.quizz-game .quizz-head h2{
    color: #fff;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    z-index: 1;
}
.quizz-questions{
    
    flex-direction: column;
    width: 100%;
}
.quizz-questions .question, .quizz-result .result-box{
    padding: 30px 45px;
    width: 100%;
    max-width: 759px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
}
.quizz-questions .question-title{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quizz-questions .question-title h2{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    
}

.quizz-questions .answers{
    display: flex;
    flex-wrap:wrap;
    margin-top: 20px;
    flex-direction: row;
}
.quizz-questions .answer{
    width: 49%;
    cursor: pointer;
}
.quizz-questions .answer img{
    width: 100%;
    max-height: 175px;
}
.quizz-questions .answer h2{
    line-height: 35px;
    font-size: 20px;
    max-width: 100%;
    line-break: anywhere;
    width: 100%;
}
.quizz-questions .answer.success h2{
    color: #009C22;
    
}
.quizz-questions .answer.danger h2{
    color: #FF4B4B;
}
.quizz-questions .answer.inactive{
    opacity: 0.3;
}
.quizz-questions .answer.danger, .quizz-questions .answer.success{
    cursor: auto;
}
.quizz-questions .answer:nth-child(2), .quizz-questions .answer:nth-child(4){
    margin-left: 2%;
}
.result-title {
    background: #EC362D;
    padding: 30px;
    width: 100%;
}
.result-title h2{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    width: 100%;
}
.result-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.result-info .col{
    width: 50%;
    max-width: 50%;
    
}
.result-info .col img{
    width: 100%;
    height: auto;
    
}
.result-info .col p{
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    line-break: anywhere;
    padding-left: 15px;
}

.botao-center{
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.95);
    visibility: visible;
    opacity: 1;
    transition: all 600ms ease;
}
.loading.hide{
    visibility: hidden;
    opacity: 0;
}
/* MOBILE */

@media (max-width: 614px)
{
    .creation-body{
        width: 100%;
    }
    .input-descricao{
        min-height: 177px;
    }
    .quizz-game .quizz-head {
        padding: 44px 33px;
    }
    .quizz-game .quizz-head h2{
        font-size: 19px;
        line-height: 22px;
    }
    .quizz-questions .question-title h2{
        font-size: 19px;
        line-height: 23px;
    }
    .quizz-questions .answer h2{
        line-height: 30px;
        font-size: 13px;
    }

    .step-3, .step-2{
        width: 100%;
        min-width: 100%;
    }
    .padrao-quizz{
        width: 96%;
    }

    .quizzes-lista{
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .div-criar-quizz{
        width: 94%;
    }
    .quizz-card{
        width: 90%;
        margin-left: 0;
        min-width: 96%;
    }
    .hidden-menu{
        width: 100%;
    }
    .result-info .col {
        width: 100%;
        max-width: 100%;
        margin-top: 15px;
    }
}