/* GLOBAL */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, span, pre, strong, a, input{
	font-family: 'Roboto', sans-serif;
}
body{
    background: #FAFAFA;
}
div, header, section, input{
    box-sizing: border-box;
}
h2{
    font-weight: 700;
    font-size: 20px;
    color: #000;
}
h3{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #b9b9b9;
}
hr{
    border: none;
    margin-block-start: 1em;
}
input[type=text] {
    padding: 10px;
    padding-left: 23px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    background: #FFFFFF;
    width: 100%;
    margin-top: 10px;
    font-size: 19px;
    font-weight: bold;
}
input[type=text]::placeholder {
    font-style: italic;
    font-weight: 400;
    color: #BABABA;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    cursor: pointer;
}

/* HEADER */
header{
	height: 70px;
	width: 100%;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	color: #fff;
}
header .logo{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}
/* CRIAÇÃO DE QUIZZ */
.creation{
    flex-direction: column;
}
.creation-head{
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.creation-body{
    padding: 20px;
    width: 600px;
}

.creation-footer{
    margin-top: 29px;
}
.step-1 .creation-body{
    background-color: #fff;
}
/* PERGUNTAS */
.perguntas-body .inputs{
    display: none;
}
.perguntas-body.active .inputs{
     display: block;

}

/* CRIAÇÃO DOS NÍVEIS */

.hidden-menu{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0px;
    cursor: pointer;
}

.nivel-body, .perguntas-body{
    background-color: #fff;
    margin-bottom: 27px;
    padding: 10px;
    width: 100%;
}

/* Sucesso do Quiz */

.step-4 img {
    width: 500px;
    height: 266px;
    margin-left: 32px;
}
.botoes-column{
    display: flex;
    flex-direction: column;
}

.btn-borderless{
    margin-top: 9px;
    background-color:#E5E5E5 ;
    color: #818181;
}

/* Tela1: Listar Quizzes */
.tela1{
    width: 100%;
    height: 100%
}
.tela-1-step-1{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.div-criar-quizz{
    border: 1px dashed #d4d4d4;
    border-radius: 5px;
    width: 1051px;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.div-criar-quizz h3{
    margin-top: 35px;
    margin-bottom: 15px;
    max-width: 210px;
}

.div-criar-quizz button{
    margin-top: 10px;
    text-align: center;
    width: 151px;
    height: 40px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    background-color: #FAFAFA;
    cursor: pointer;
}
.padrao-quizz{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.outros-quizz h2{
    margin-left: 15px;
}
.quizzes-lista{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.quizz-card{
    width: 340px;
    height: 181px;
    margin-left: 15px;
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

.quizz-card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}
.degrade{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    position: absolute;
    border-radius: 5px;
}

.usuario-quizz{
    margin-bottom: 50px;
}
.seus-quizzes-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seus-quizzes-titulo h2 {
    margin-right: 12px;
}

.seus-quizzes-titulo ion-icon{
    width: 30px;
    height: 30px;
    color: #EC362D;
    cursor: pointer;
}

.display-none{
    display: none;
}
/* MOBILE */
@media (max-width: 614px)
{
    .creation-body{
        width: 100%;
    }
    .input-descricao{
        min-height: 177px;
    }
}